.toast .toasta-theme-default {
    border-radius: 20px !important;
}

.toast {
    animation:slideInRight 0.4s;
    border-radius: 15px !important;
    .close-button { top: 10% !important; right: 16px !important; }
}


.toast.toasta-type-success.toasta-theme-default { background-color: var(--primary) !important }

@keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  